<tr>
    <% var sell_price = product.purchase_price * (1+product.markup / 100); %>
    <td><%= product.code %></td>
    <td><%= product.name %></td>
    <td><%= product.unit %></td>
    <td><%= product.residual.toFixed(3) %></td>
    <td><%= product.purchase_price.toFixed(2) %></td>
    <td><%= product.markup.toFixed(2) %></td>
    <td><%= sell_price.toFixed(2) %></td>
    <td><%= (product.purchase_price * product.residual).toFixed(2) %></td>
    <td><%= (sell_price * product.residual).toFixed(2) %></td>
    <td><%= (sell_price * product.residual - product.purchase_price * product.residual).toFixed(2) %></td>
</tr>